In [1]:
import pandas as pd

Files :
    
    sample csv file - https://github.com/codeforamerica/ohana-api/tree/master/data/sample-csv
    Titanic - https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
    excel file - https://github.com/finbourne/sample-excel

In [2]:
ls

 Volume in drive C is OS
 Volume Serial Number is DA98-B1B5

 Directory of C:\Users\user\Desktop\python\Ineoron\pandas

07/03/2022  10:05 AM    <DIR>          .
07/03/2022  10:05 AM    <DIR>          ..
07/03/2022  10:05 AM    <DIR>          .ipynb_checkpoints
07/03/2022  10:04 AM                72 pandas c1.ipynb
07/01/2022  07:27 PM           576,978 pandas day 2.ipynb
07/02/2022  12:37 PM            17,249 Untitled.ipynb
               3 File(s)        594,299 bytes
               3 Dir(s)  46,930,182,144 bytes free

In [6]:
df=pd.read_csv('https://raw.githubusercontent.com/codeforamerica/ohana-api/master/data/sample-csv/taxonomy.csv')

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
ls

 Volume in drive C is OS
 Volume Serial Number is DA98-B1B5

 Directory of C:\Users\user\Desktop\python\Ineoron\pandas

07/03/2022  10:14 AM    <DIR>          .
07/03/2022  10:14 AM    <DIR>          ..
07/03/2022  10:05 AM    <DIR>          .ipynb_checkpoints
07/03/2022  10:14 AM             6,786 pandas c1.ipynb
07/01/2022  07:27 PM           576,978 pandas day 2.ipynb
07/02/2022  12:37 PM            17,249 Untitled.ipynb
               3 File(s)        601,013 bytes
               3 Dir(s)  46,936,276,992 bytes free

In [9]:
pd.read_csv('https://raw.githubusercontent.com/codeforamerica/ohana-api/master/data/sample-csv/taxonomy.csv',header=None)

,0,1,2,3
0,taxonomy_id,name,parent_id,parent_name
1,101,Emergency,NaN,NaN
2,101-01,Disaster Response,101,Emergency
3,101-02,Emergency Cash,101,Emergency
4,101-02-01,Help Pay for Food,101-02,Emergency Cash
...,...,...,...,...
286,111-01-07,Workplace Rights,111-01,Advocacy & Legal Aid
287,111-02,Mediation,111,Legal
288,111-03,Notary,111,Legal
289,111-04,Representation,111,Legal
290,111-05,Translation & Interpretation,111,Legal

In [10]:
pd.read_csv('https://raw.githubusercontent.com/codeforamerica/ohana-api/master/data/sample-csv/taxonomy.csv',names=['fsdf','ffs4','4654','fsfs','iuy8uie'])

,fsdf,ffs4,4654,fsfs,iuy8uie
0,taxonomy_id,name,parent_id,parent_name,NaN
1,101,Emergency,NaN,NaN,NaN
2,101-01,Disaster Response,101,Emergency,NaN
3,101-02,Emergency Cash,101,Emergency,NaN
4,101-02-01,Help Pay for Food,101-02,Emergency Cash,NaN
...,...,...,...,...,...
286,111-01-07,Workplace Rights,111-01,Advocacy & Legal Aid,NaN
287,111-02,Mediation,111,Legal,NaN
288,111-03,Notary,111,Legal,NaN
289,111-04,Representation,111,Legal,NaN
290,111-05,Translation & Interpretation,111,Legal,NaN

In [12]:
type(df)

pandas.core.frame.DataFrame

In [16]:
df.dtypes

taxonomy_id    object
name           object
parent_id      object
parent_name    object
dtype: object

In [17]:
df=pd.read_csv('https://raw.githubusercontent.com/codeforamerica/ohana-api/master/data/sample-csv/services.csv')

In [18]:
df.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [20]:
df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [21]:
df.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [23]:
type(df['email'])

pandas.core.series.Series

In [24]:
df['email']

0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
5                       NaN
6                       NaN
7                       NaN
8                       NaN
9                       NaN
10                      NaN
11                      NaN
12                      NaN
13                      NaN
14                      NaN
15                      NaN
16                      NaN
17                      NaN
18                      NaN
19                      NaN
20                      NaN
21    passports@example.org
22                      NaN
Name: email, dtype: object

In [25]:
df['email','location_id']

KeyError: ('email', 'location_id')

In [26]:
df[['email','location_id']]

                    email  location_id
0                     NaN            1
1                     NaN            2
2                     NaN            3
3                     NaN            4
4                     NaN            5
5                     NaN            6
6                     NaN            7
7                     NaN            8
8                     NaN            9
9                     NaN           10
10                    NaN           11
11                    NaN           12
12                    NaN           13
13                    NaN           14
14                    NaN           15
15                    NaN           16
16                    NaN           17
17                    NaN           18
18                    NaN           19
19                    NaN           20
20                    NaN           21
21  passports@example.org           22
22                    NaN           22

In [27]:
type(df[['email','location_id']])

pandas.core.frame.DataFrame

In [28]:
type(df[['email']])

pandas.core.frame.DataFrame

In [31]:
df=pd.read_excel('LUSID Excel - Manage Orders.xlsx',sheet_name='Allocations')

In [32]:
df.keys()

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24'],
      dtype='object')

In [39]:
df=pd.ExcelFile('LUSID Excel - Manage Orders.xlsx')

In [40]:
df.sheet_names

['Executions', 'Orders', 'Allocations', 'Placements', 'Blocks']

In [41]:
for i in df.sheet_names:
    print(i)

Executions
Orders
Allocations
Placements
Blocks

In [42]:
for i in df.sheet_names:
    pd.read_excel('LUSID Excel - Manage Orders.xlsx',sheet_name=i)